body {
  background-color: #000000;
}

#add-intrument {
  order: 99;
}

.add-block {
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #d2d2d2;
  order: 99;
  margin-left: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.add-block:hover {
  background-color: #c8c9e9;
}

#dropdownMenuButton {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  user-select: none;
}

#dropdownMenuButton:hover {
  background-color: white;
}

.inst-block { 
  border: none;
  height: 100px;
  width: auto;
  display: flex;
  position: relative;
  border-radius: 10px;
  cursor: grab;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 98;
}

.block-selected{
  border: 2px solid rgb(208, 208, 208);
  z-index: 99;
}

.inst-block.block-disabled {
  background-color: #ababab !important;
}

.inst-line {
  display: grid;
  grid-template-columns: repeat(20000, 25px);
  align-items: center;
  height: 120px;
  border-bottom: 1px solid rgb(0 0 255 / 25%);
  border-top: 1px solid rgb(0 0 255 / 25%);
  width: 100%;
  position: relative;
}

.playback-button {
  display: inline-flex;
  width: 44px;
  height: 44px;
  background:#f5f5f5;
  border-radius:50%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.playback-button:hover {
  background:#d2d2d2;
}

.playback-button-svg {
}

#control-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: #000000;
  width: 100vw;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

#control-bar:hover {
}

#studio-body {
  height: 100vh;
  position: relative;
  background-color: #000000;
  width: 51000px;
  width: fit-content;
}

#track-list {
  height: 100%;
  width: 200px;
  position: sticky;
  top: 0px;
  left: 0px;
  border-right: 1px solid lightgray;
  z-index: 101;
  background: #000000;
}

#track-list-grid {
  display: grid;
  row-gap: 0;
}

#arrange-area {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 200px;
  width: 100%;
  background: #000000;
}

.track-header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  position: relative;
  user-select: none;
}

.hidden {
  display: none;
}

.block-length-dropdown {
  position: absolute;
  bottom: 5px;
  right: 2px;
}

.block-length-dropdown-toggle {
  height: 15px;
  width: 15px;
  background: url(https://static.soundtrap.com/studio/assets/images/studio/rh_end.png) no-repeat;
}

.block-label {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  user-select: none;
  width: 100%;
  text-align: center;
}

#grid-canvas {
  position: absolute;
}

#number-canvas {
//  height: 20px;
//  position: sticky;
  visibility: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#load-project {
  margin-right: 20px;
  position: absolute;
  right: 0px;
}

.block-del {
  display: none;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0px;
  right: 0px;
}

.block-del > svg {
  border-radius: 50%;
  background: white;
  height: 20px;
  width: 20px;
}

.tempo-change {
  height: 18px;
}

#tempo-label {
  position: absolute;
  font-size: 10px;
  width: 100%;
  justify-content: center;;
  bottom: 2px;
  display: none;
}

.tempo {
  height: 100%;
  position: relative;
}

.note-listen {
  position: absolute;
  right: 2px;
  bottom: -4px;
}

.note-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  height: 80px;
  margin: 5px;
  border: 2px solid rgb(118, 118, 118);
  cursor: pointer;
  user-select: none;
}

#SettingsButton {
  position: absolute;
  margin-left: 14px;
  left: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

.track-header-dropdown {
  position: absolute;
  top: 3px;
  right: -2px;
  display: none;
}
 
#download-wav {
  position: absolute;
  right: 0px;
  margin-right: 160px;
  display: inline-flex;
}

#playhead-canvas {
  position: absolute;
  z-index: 98;
  cursor: grab;
}

#number-area {
  padding-left: 200px;
  position: sticky;
  top: 50px;
  cursor: col-resize;
  z-index: 100;
}

.highlight {
  background: lightblue !important;
}

img.block-chord-symbol {
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
  user-select: none;
}

.block-octave-span {
  display: none;
  cursor: text;
  user-select: none;
}

.block-octave-change {
  display: none;
}

#block {
    backgronund: white;
    height: 32px;
    width: 200px;
    position: sticky;
    top: 50px;
    left: 0px;
    z-index: 103;
}

.nav-item {
  flex-grow: 1;
  user-select: none;
}

button.nav-link {
  width: 100%;
}

#noteModal .container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note-selector-octave-div {
//  background: black;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.note-selector-octave-change-div {
  height: 20px;
}

#transpose-line-footer, #delete-line-footer {
  display: none;
}

.show-footer {
  display: block !important;
}

#transpose-line.active {
  display: flex;
}

.button-row {
  width: 100%;
}

#zoom-horizontal {
  position: fixed;
  bottom: 0px;
  right: 0px;
  user-select: none;
}
