<!DOCTYPE html>
<html>
<head>
<title>Personal Band</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/arrange.css')}}">

<script src="{{url_for('static', filename='js/load_buffers.js')}}"></script>
<script src="{{url_for('static', filename='js/audio.js')}}"></script>
<script src="{{url_for('static', filename='js/arrange.js')}}"></script>

</head>
<body>

<div id="control-bar">
  <button class="btn btn-primary" onclick="init()">Start</button>

  <div class="playback-button" onclick="pauseSound()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="35" height="35"
      viewBox="0 0 172 172" class="playback-button-svg"
      style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M121.83333,136.16667h-71.66667c-7.91917,0 -14.33333,-6.41417 -14.33333,-14.33333v-71.66667c0,-7.91917 6.41417,-14.33333 14.33333,-14.33333h71.66667c7.91917,0 14.33333,6.41417 14.33333,14.33333v71.66667c0,7.91917 -6.41417,14.33333 -14.33333,14.33333z"></path></g></g></g>
    </svg>
  </div>

  <div class="playback-button" onclick="playSequence()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 24 24" class="playback-button-svg"
      style=" fill:#000000;">    <path d="M8,6.822v10.357c0,0.789,0.871,1.267,1.537,0.844l8.137-5.178c0.618-0.393,0.618-1.294,0-1.687L9.537,5.978 C8.871,5.554,8,6.033,8,6.822z"></path>
    </svg>
  </div>
</div>


<div id="studio-body">

<div id="track-list">
<div class="dropdown" id="add-intrument">
  <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    +
    <br/>
    Add New Block
  </div>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for inst in insts -%}
      <button class="dropdown-item" onclick="addblock('{{inst}}')">{{inst}}</button>
    {%- endfor %}
  </div>
</div>
</div>

<div id="arrange-area" style:"display:flex; flex-direction:row"></div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
